Proyecto_NavalWars/Fase1/NavalWarsCliente/NavalWarsCliente/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="conectado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generarArbol">
        <s:complexType />
      </s:element>
      <s:element name="generarArbolResponse">
        <s:complexType />
      </s:element>
      <s:element name="buscarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="buscarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerInfoUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerInfoUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerInfoUsuarioResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="modificarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nuevoNick" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="conectado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modificarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="modificarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarUsuarioNick">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarUsuarioNickResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="buscarUsuarioNickResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addjuegosUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nickOp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="uniDespl" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="uniSobrev" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="uniDestru" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gano" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addjuegosUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addjuegosUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarJuegosUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idJuego" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarJuegosUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarJuegosUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarJuegosUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idJuego" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nickOp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="uniDespla" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="uniSobrev" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="uniDestru" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gano" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarJuegosUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModificarJuegosUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerInfoJuegosUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idJuego" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerInfoJuegosUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerInfoJuegosUsuarioResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:insertarUsuario" />
  </wsdl:message>
  <wsdl:message name="insertarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:insertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="generarArbolSoapIn">
    <wsdl:part name="parameters" element="tns:generarArbol" />
  </wsdl:message>
  <wsdl:message name="generarArbolSoapOut">
    <wsdl:part name="parameters" element="tns:generarArbolResponse" />
  </wsdl:message>
  <wsdl:message name="buscarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:buscarUsuario" />
  </wsdl:message>
  <wsdl:message name="buscarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:buscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="eliminarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerInfoUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerInfoUsuario" />
  </wsdl:message>
  <wsdl:message name="obtenerInfoUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerInfoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="modificarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:modificarUsuario" />
  </wsdl:message>
  <wsdl:message name="modificarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:modificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="buscarUsuarioNickSoapIn">
    <wsdl:part name="parameters" element="tns:buscarUsuarioNick" />
  </wsdl:message>
  <wsdl:message name="buscarUsuarioNickSoapOut">
    <wsdl:part name="parameters" element="tns:buscarUsuarioNickResponse" />
  </wsdl:message>
  <wsdl:message name="addjuegosUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:addjuegosUsuario" />
  </wsdl:message>
  <wsdl:message name="addjuegosUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:addjuegosUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarJuegosUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarJuegosUsuario" />
  </wsdl:message>
  <wsdl:message name="eliminarJuegosUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarJuegosUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarJuegosUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarJuegosUsuario" />
  </wsdl:message>
  <wsdl:message name="ModificarJuegosUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarJuegosUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerInfoJuegosUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerInfoJuegosUsuario" />
  </wsdl:message>
  <wsdl:message name="obtenerInfoJuegosUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerInfoJuegosUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <wsdl:input message="tns:insertarUsuarioSoapIn" />
      <wsdl:output message="tns:insertarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="generarArbol">
      <wsdl:input message="tns:generarArbolSoapIn" />
      <wsdl:output message="tns:generarArbolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <wsdl:input message="tns:buscarUsuarioSoapIn" />
      <wsdl:output message="tns:buscarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <wsdl:input message="tns:eliminarUsuarioSoapIn" />
      <wsdl:output message="tns:eliminarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerInfoUsuario">
      <wsdl:input message="tns:obtenerInfoUsuarioSoapIn" />
      <wsdl:output message="tns:obtenerInfoUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <wsdl:input message="tns:modificarUsuarioSoapIn" />
      <wsdl:output message="tns:modificarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarUsuarioNick">
      <wsdl:input message="tns:buscarUsuarioNickSoapIn" />
      <wsdl:output message="tns:buscarUsuarioNickSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addjuegosUsuario">
      <wsdl:input message="tns:addjuegosUsuarioSoapIn" />
      <wsdl:output message="tns:addjuegosUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarJuegosUsuario">
      <wsdl:input message="tns:eliminarJuegosUsuarioSoapIn" />
      <wsdl:output message="tns:eliminarJuegosUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarJuegosUsuario">
      <wsdl:input message="tns:ModificarJuegosUsuarioSoapIn" />
      <wsdl:output message="tns:ModificarJuegosUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerInfoJuegosUsuario">
      <wsdl:input message="tns:obtenerInfoJuegosUsuarioSoapIn" />
      <wsdl:output message="tns:obtenerInfoJuegosUsuarioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarArbol">
      <soap:operation soapAction="http://tempuri.org/generarArbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <soap:operation soapAction="http://tempuri.org/buscarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerInfoUsuario">
      <soap:operation soapAction="http://tempuri.org/obtenerInfoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <soap:operation soapAction="http://tempuri.org/modificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuarioNick">
      <soap:operation soapAction="http://tempuri.org/buscarUsuarioNick" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addjuegosUsuario">
      <soap:operation soapAction="http://tempuri.org/addjuegosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarJuegosUsuario">
      <soap:operation soapAction="http://tempuri.org/eliminarJuegosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarJuegosUsuario">
      <soap:operation soapAction="http://tempuri.org/ModificarJuegosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerInfoJuegosUsuario">
      <soap:operation soapAction="http://tempuri.org/obtenerInfoJuegosUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertarUsuario">
      <soap12:operation soapAction="http://tempuri.org/insertarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generarArbol">
      <soap12:operation soapAction="http://tempuri.org/generarArbol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <soap12:operation soapAction="http://tempuri.org/buscarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarUsuario">
      <soap12:operation soapAction="http://tempuri.org/eliminarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerInfoUsuario">
      <soap12:operation soapAction="http://tempuri.org/obtenerInfoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarUsuario">
      <soap12:operation soapAction="http://tempuri.org/modificarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarUsuarioNick">
      <soap12:operation soapAction="http://tempuri.org/buscarUsuarioNick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addjuegosUsuario">
      <soap12:operation soapAction="http://tempuri.org/addjuegosUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarJuegosUsuario">
      <soap12:operation soapAction="http://tempuri.org/eliminarJuegosUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarJuegosUsuario">
      <soap12:operation soapAction="http://tempuri.org/ModificarJuegosUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerInfoJuegosUsuario">
      <soap12:operation soapAction="http://tempuri.org/obtenerInfoJuegosUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:8544/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:8544/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>